127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
192.168.122.103 tower
192.168.122.181 postsql
192.168.122.162 git
192.168.122.243 target
